$main-color = #1D1F25
$sec-color = #292929

$back-color = #e2e2e2
$hover-color = #BF2119

$grey = #e2e2e2
$black = #000
$blue = #0070B2

$main-text-color = #fff
$sec-text-color = #9D9C9C

$green-indicator = #669900

@font-face
    font-family TheCapt 
    src url(fonts/TheCapt.otf)

@font-face
    font-family ProductSans 
    src url(fonts/ProductSans.otf)

body, html 
    margin 0
    padding 0
    background-color $grey

a   
    text-decoration none 
    &:visited
        color $main-text-color

h1
    font-family TheCapt 
    font-weight inherit
    color $main-text-color
    margin 0
    padding 5px 10px 15px 10px
    height 33px

h2
    font-family TheCapt 
    font-weight inherit
    color $main-text-color
    margin 0
    padding 5px 10px 15px 10px

h4
    font-family ProductSans
    font-size 18px
    color $main-text-color
    margin 0
    padding 0 10px 0 0px

.btn
    border none
    background-color $sec-color 
    color $main-text-color
    height 30px

    &:hover
        cursor pointer
        color $hover-color
        transition-duration 0.5s
        
input, button, select 
    outline none
    border none

input[type=text]
    height 20px
    background-color $grey
    border-bottom 3px solid $blue
    padding-left 10px

input[type=number]
    height 20px
    background-color $grey
    border-bottom 3px solid $blue
    padding-left 10px

button
    &:hover
        cursor pointer
        transition-duration 0.5s

select 
    width 150px
    height 25px
    text-align center
    border-bottom 2px solid $blue
    background-color $grey 


p   
    font-size 14px
    font-weight bold
    color $main-text-color
    margin 0
    padding-bottom 5px

.btn_add
    height 20px
    width 20px
    margin-left 15px

.del_btn
    width 20px
    height 20px
    margin 3px 0 0 5px
    border none
    background-color $grey

    background-image url(img/icon_del.png)
    background-size cover
    background-repeat no-repeat
    background-position center

    &:hover
        cursor pointer
        background-image url(img/icon_del_v2.png)
        background-size cover
        background-repeat no-repeat
        background-position center

.edit_block
    display flex
    flex-direction row
    justify-content flex-end
    width 275px
    height 25px



/*--------------------------------


    контейнер заголовка   


----------------------------------*/
.header_conteiner
    display flex
    flex-direction row
    justify-content: space-around
    position fixed 
    top 0

    width 100%
    height 50px
    background-color $main-color
    border-bottom 1px solid $blue
    z-index 999

    .nav_btn_block
        display flex
        flex-direction row
        justify-content space-around

    .nav_btn
        width 150px
        height 35px
        padding 15px 15px 0 15px
        text-align center
        color $main-text-color
        font-family ProductSans

        &:hover
            border-bottom 3px solid $main-text-color
            height 32px
            color $hover-color
            transition-duration 0.5s
            cursor pointer
/*--------------------------------


    контейнер с основной информацией    


----------------------------------*/


.main_conteiner
    display flex
    flex-direction row
    justify-content flex-start
    width 100%
    box-sizing content-box
    margin-top 75px

/*--------------------------------


    контейнер с таблицей ag-grid     


----------------------------------*/


.list_inq_conteiner
    width 50%
    height 600px
    margin 25px 0 25px 25px
    padding 10px
    box-sizing border-box
    background-color $main-text-color


.list_inq__grid
    box-sizing content-box
    height 400px
    text-align center


.list_route__grid
    box-sizing content-box
    height 100px
    text-align center

.ag-header-cell-label
    text-align center
#list_route_deliv
    .ag-header-cell-text
        width 100%
        font-size 12px
        color $main-text-color


.ag-row-hover
    color $black
    background-color $grey


/*----------------------------------


    контейнер с информацией по лиду      


----------------------------------*/

.inq_string_big
    display flex
    justify-content space-between
    width 600px
    margin-bottom 10px

.inq_string
    display flex
    justify-content space-between
    width 295px
    margin-bottom 10px

.info_inq_conteiner
    width 630px
    margin 25px 25px 25px 0
    box-sizing content-box

.info-inq__block
    width 600px
    padding 0 15px 15px 15px
    background-color $sec-color
    
.name_block 
    position sticky
    top 51px
    background-color $sec-color
    border-bottom 3px solid $blue
    z-index 999
    padding 15px 0 12px 0

#name-block__inpt
    width 400px
    height 40px 
    border-bottom 0px solid $blue
    background-color $sec-color
    font-family TheCapt 
    font-size 32px
    color $main-text-color

.route-block__table
    width 600px
    box-sizing content-box

.points__place-block
    display flex
    flex-direction column
    justify-content space-between
    text-align center

.tender_block
    display flex
    justify-content space-around
    width 100%

.adres-tamoj__block
    display flex
    justify-content flex-start
    width 200px
    height 25px

.adres-tamoj__points
    display flex
    flex-direction flex-start

    margin-bottom 15px

    div
        margin-left 10px

.cargo-info
    padding 5px 20px 5px 20px
    margin-bottom 15px
    background-color $grey
    border-radius 10px
    .inq_string_big
        width 560px
        margin-bottom 5px        
    p
        width 220px
        color $black
        font-size 16px
        font-weight bold
        padding 5px 0 0 0 
.edit_info_inpt
    width 220px

.cargo_text
    display none
    width 200px
    text-align right
    
    
.otdel-perevoz-block
    box-sizing content-box

    textarea
        width 230px
        height 35px
        max-width 230px
        max-height 35px
        padding 5px

.rates-block
    height 25px
    margin-bottom 15px
    
    button
        width 100%
        height 25px


#show_list_access
    height 20px
    padding 0 6px 0 6px
    color $main-text-color
    background-color $main-color
    &:hover
        color $hover-color
        border-bottom 1px solid $main-text-color

#update_last_connect
    width 100px
    
