$main-color = #1D1F25
$sec-color = #292929

$back-color = #e2e2e2
$hover-color = #BF2119

$grey = #e2e2e2
$black = #000
$blue = #0070B2
$light_blue = #30BCED

$main-text-color = #fff
$sec-text-color = #9D9C9C

$green-indicator = #669900
$yellow = #faa916 

@font-face
    font-family TheCapt 
    src url(fonts/TheCapt.otf)

@font-face
    font-family ProductSans 
    src url(fonts/ProductSans.otf)

body, html 
    margin 0
    padding 0
    background-color $grey

a   
    text-decoration none 
    color $main-text-color
    &:visited
        color $main-text-color

h1
    font-family TheCapt 
    font-weight inherit
    color $main-text-color
    margin 0
    padding 5px 10px 15px 10px
    height 33px

h2
    font-family TheCapt 
    font-weight inherit
    color $main-text-color
    margin 0
    padding 5px 10px 15px 10px

h4
    font-family ProductSans
    font-size 18px
    color $main-text-color
    margin 0
    padding 0 10px 0 0px

.btn
    border none
    background-color $yellow 
    color $black
    height 25px

    &:hover
        cursor pointer
        color $main-text-color
        background-color $sec-color
        border 1px solid $yellow
        transition-duration 0.5s
        
input, button, select 
    outline none
    border none

input[type=text]
    height 20px
    background-color $grey
    border-bottom 3px solid $blue
    padding-left 10px

input[type=number]
    height 20px
    background-color $grey
    border-bottom 3px solid $blue
    padding-left 10px

button
    &:hover
        cursor pointer
        transition-duration 0.5s

select 
    width 150px
    height 25px
    text-align center
    border-bottom 2px solid $blue
    background-color $grey 


p   
    font-size 14px
    font-weight bold
    color $main-text-color
    margin 0
    padding-bottom 5px

.del_btn
    display none
    width 20px
    height 20px
    margin 3px 0 0 5px
    border none
    background-color $grey

    background-image url(img/icon_del.png)
    background-size cover
    background-repeat no-repeat
    background-position center

    &:hover
        cursor pointer
        background-image url(img/icon_del_v2.png)
        background-size cover
        background-repeat no-repeat
        background-position center

.edit_block
    display flex
    flex-direction row
    justify-content flex-end
    width 275px
    height 25px



/*--------------------------------


    контейнер заголовка   


----------------------------------*/
.header_conteiner
    display flex
    flex-direction row
    justify-content: space-around
    position fixed 
    top 0

    width 100%
    height 50px
    background-color $main-color
    border-bottom 3px solid $light_blue
    z-index 999

    .nav_btn_block
        display flex
        flex-direction row
        justify-content space-around

    .nav_btn
        width 150px
        height 35px
        padding-top 15px
        text-align center
        color $main-text-color
        font-family ProductSans
        &:hover
            background-color $yellow
            color $black
            transition-duration 0.5s
            cursor pointer

#create_inq
    padding-top 8px
    height 42px

        
/*--------------------------------


    контейнер с основной информацией    


----------------------------------*/


.main_conteiner
    display flex
    flex-direction row
    justify-content flex-start
    width 100%
    box-sizing content-box
    margin-top 75px

/*--------------------------------


    контейнер с таблицей ag-grid     


----------------------------------*/


.list_inq_conteiner
    width 50%
    margin 25px 0 25px 25px
    padding 10px 
    box-sizing content-box
    background-color $main-text-color


.list_inq__grid
    box-sizing content-box
    height 400px
    text-align center


.list_route__grid
    box-sizing content-box
    height 135px
    max-height 200px
    margin-bottom 10px
    text-align center

.ag-header-cell-label
    text-align center

.list_route__grid
    .ag-header-cell-text
        width 100%
        font-size 12px
        color $main-text-color




/*----------------------------------


    контейнер с информацией по лиду      


----------------------------------*/

.inq_string_big
    display flex
    justify-content space-between
    width 600px
    margin-bottom 10px

.inq_string
    display flex
    justify-content space-between
    width 295px
    margin-bottom 10px

.info_inq_conteiner
    width 630px
    margin 25px 25px 25px 0
    box-sizing content-box

.info-inq__block
    width 600px
    padding 0 15px 5px 15px
    background-color $sec-color
    
.name_block 
    position sticky
    top 53px
    background-color $sec-color
    border-bottom 3px solid $light_blue
    z-index 999
    padding 15px 0 12px 0

#name-block__inpt
    width 400px
    height 40px 
    border-bottom 0px solid $blue
    background-color $sec-color
    font-family TheCapt 
    font-size 32px
    color $main-text-color

.tender_block
    display flex
    justify-content space-around
    width 100%

.route-block__text
    display flex
    justify-content space-between
    h2
        width 200px

.route-block__table
    width 600px
    box-sizing content-box

.adres-tamoj__block
    display flex
    justify-content flex-end
    width 600px
    height 25px
    margin-bottom 10px

.adres-tamoj__points
    display flex
    flex-direction flex-start
    flex-wrap wrap
    box-sizing content-box
    margin-bottom 15px

    div
        margin-left 10px

.points__place-block
    display flex
    flex-direction column
    justify-content space-between
    text-align center
    input
        width 130px

.route-block__nav
    button:nth-child(1)
        width 130px
    button:nth-child(2)
        margin-left 5px
        width 110px
    button:nth-child(3)
        margin-left 5px
        width 75px

.cargo-info
    padding 5px 20px 5px 20px
    margin-bottom 15px
    background-color $grey
    border-radius 10px
    .inq_string_big
        width 560px
        margin-bottom 5px        
    p
        width 220px
        color $black
        font-size 16px
        font-weight bold
        padding 5px 0 0 0 
.edit_info_inpt
    width 220px

.cargo_text
    display none
    width 200px
    text-align right
    
    
.otdel-perevoz-block
    box-sizing content-box

    

.rates-block
    width 290px
    height 25px
    margin-bottom 15px
    
    button
        width 100%



#show_list_access
    width 150px
    height 20px
    padding 0 6px 0 6px
    
.tranzit-block
    width 290px
    height 50px

.delivery-block
    width 290px
    height 50px
    

textarea
    max-width 280px
    max-height 40px
    min-width 280px
    min-height 40px
    padding 5px
    border none
    background-color $grey
    

.last_connect
    width 150px
    height 50px 
    
#text_last_connect
    width 150px
    text-align right

#update_last_connect
    width 75px
    height 20px
    margin-left 75px
        
#create_order
    width 150px
    height 25px
    margin-left 145px


.list_route_conteiner
    width 560px
    max-height 400px
    

.list-route__item
    width 540px
    box-sizing content-box
    margin-top 10px
    padding 10px
    background-color $sec-color
    &:first-child
        margin-top 25px
    h2
        height 30px
        padding 0 0 0 15px
    
.main_info_route
    display flex
    justify-content space-between
    width 540px
    box-sizing content-box

#show_route_info
    margin-top 4px
