$main-color = #1D1F25
$sec-color = #292929

$back-color = #e2e2e2
$hover-color = #BF2119

$grey = #e2e2e2
$black = #000
$blue = #0070B2

$main-text-color = #fff
$sec-text-color = #9D9C9C

$green-indicator = #669900


body, html 
    margin 0
    padding 0
    background-color $main-text-color

h1
    color $main-text-color
    margin 0
    padding 5px 10px 15px 10px
    height 33px

h2 
    color $main-text-color


h4
    display none
    font-size 16px
    color $main-text-color
    margin 0
    padding 0 10px 0 0px

.btn
    border none
    background-color $sec-color 
    color $main-text-color
    height 30px

    &:hover
        cursor pointer
        color $hover-color
        transition-duration 0.5s
        
input, button, select 
    outline none
    border none

input[type=text]
    width 150px
    height 20px
    background-color $grey
    border-bottom 3px solid $blue
    padding-left 10px

input[type=number]
    width 150px
    height 20px
    background-color $grey
    border-bottom 3px solid $blue
    padding-left 10px

button
    &:hover
        cursor pointer
        background-color $hover-color
        transition-duration 0.5s

select 
    width 150px
    height 25px
    text-align center
    border-bottom 2px solid $blue
    background-color $grey


p   
    font-size 14px
    font-weight bold
    color $main-text-color
    margin 0
    padding-bottom 5px

.btn_add
    height 20px
    width 20px
    margin-left 15px
        




.main_conteiner
    display flex
    flex-direction row
    justify-content flex-start

    width 100%
    height 600px

/*--------------------------------


    контейнер с таблицей ag-grid     


----------------------------------*/


.list_inq_conteiner
    width 50%
    height 600px
    margin 25px 0 25px 25px
    box-sizing border-box


.list_inq__grid
    box-sizing content-box
    height 400px

    text-align center


/*----------------------------------


    контейнер с информацией по лиду      


----------------------------------*/

.inq_string
    display flex
    flex-direction row
    justify-content space-between
    width 100%
    margin-bottom 10px

.info_inq_conteiner
    width 50%
    height 600px
    margin 25px
    box-sizing inherit

.info-inq__block
    background-color $main-color
    padding 15px

.points__place-block
    display flex
    flex-direction column
    justify-content space-between
    text-align center

.tender_block
    display flex
    justify-content space-around
    width 100%

.adres-tamoj__block
    display flex
    justify-content flex-start
    width 200px
    height 25px

.adres-tamoj__points
    display flex
    flex-direction flex-start

    margin-bottom 15px

    div
        margin-left 10px

.cargo-info
    box-sizing padding-box
    padding 10px 20px 5px 20px
    margin-bottom 15px
    background-color $grey
    
    .inq_string
        margin-bottom 5px
    
    p
        color $black
        font-size 16px
        font-weight bold
        padding 5px 0 0 0 
    
.otdel-perevoz-block
    box-sizing content-box

    textarea
        width 230px
        height 35px
        max-width 230px
        max-height 35px
        padding 5px

.rates-block
    height 25px
    margin-bottom 15px
    
    button
        width 100%
        height 25px


#show_list_access
    height 20px
    padding 0 6px 0 6px
    color $main-text-color
    background-color $main-color
    &:hover
        color $hover-color
        border-bottom 1px solid $main-text-color

#update_last_connect
    width 100px
    
