@font-face {
  font-family: TheCapt;
  src: url("fonts/TheCapt.otf");
}
@font-face {
  font-family: ProductSans;
  src: url("fonts/ProductSans.otf");
}
body,
html {
  margin: 0;
  padding: 0;
  background-color: #e2e2e2;
}
a {
  text-decoration: none;
}
a:visited {
  color: #fff;
}
h1 {
  font-family: TheCapt;
  font-weight: inherit;
  color: #fff;
  margin: 0;
  padding: 5px 10px 15px 10px;
  height: 33px;
}
h4 {
  font-family: ProductSans;
  font-size: 18px;
  color: #fff;
  margin: 0;
  padding: 0 10px 0 0px;
}
.btn {
  border: none;
  background-color: #faa916;
  color: #000;
  height: 25px;
}
.btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: #292929;
  border: 1px solid #faa916;
  transition-duration: 0.5s;
}
input,
button,
select {
  outline: none;
  border: none;
}
input[type=text] {
  background-color: #e2e2e2;
  border-bottom: 3px solid #0070b2;
  padding-left: 10px;
}
input[type=number] {
  background-color: #e2e2e2;
  border-bottom: 3px solid #0070b2;
  padding-left: 10px;
}
.warning_window {
  display: none;
  position: absolute;
  top: 465px;
  left: 575px;
  width: 308px;
  height: 45px;
  padding: 10px 0 0 20px;
  color: #000;
  background-image: url("img/icon_warrning_mes2.png");
  background-size: 85%;
  background-repeat: no-repeat;
}
p {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}
.header_conteiner {
  width: 100%;
  height: 35px;
}
.header_conteiner .nav_btn_block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}
.header_conteiner .nav_btn {
  line-height: 35px;
  padding: 0 10px 0 10px;
  margin-right: 10px;
  color: #000;
  font-family: ProductSans;
  font-size: 14px;
  background-color: #faa916;
}
.header_conteiner .nav_btn:hover {
  background-color: #1d1f25;
  color: #fff;
  transition-duration: 0.5s;
  cursor: pointer;
}
.main_conteiner {
  display: flex;
  position: relative;
  top: 50px;
  left: 5%;
  width: 90%;
}
/*--------------------------------


    контейнер с таблицей ag-grid     


----------------------------------*/
.list_lid_conteiner {
  width: inherit;
  padding: 0 10px 0 10px;
  background-color: #fff;
}
.list_lid__grid {
  width: 750px;
  height: 450px;
  max-height: 450px;
  margin-bottom: 15px;
}
/*--------------------------------


    контейнер со списком запросов привязанных к лиду   


----------------------------------*/
.inq_list_conteiner {
  width: 100%;
  max-width: 750px;
  box-sizing: content-box;
}
.inquire_info_block {
  box-sizing: content-box;
  background-color: #292929;
  border: 1px solid #faa916;
  transition-duration: 0.5s;
  margin-top: 16px;
  padding: 12px 8px 6px 8px;
}
.inquire_info_block .lid_string {
  width: 100%;
  margin-bottom: 5px;
}
.inquire_info_block h4 {
  width: 400px;
}
.inquire_info_block select {
  width: 200px;
}
/*--------------------------------


    контейнер с информацией по лиду    


----------------------------------*/
.lid_info_conteiner {
  width: 400px;
  height: 100%;
  padding: 0 20px 0 20px;
  background-color: #292929;
}
.hor_line {
  width: 100%;
  height: 3px;
  margin-bottom: 15px;
  background-color: #30bced;
}
.dd_list {
  width: 200px;
  height: 25px;
  border: none;
  background-color: #fff;
  color: #292929;
}
.lid_string {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  height: 25px;
  margin-bottom: 12px;
  line-height: 25px;
}
#lid_name_inpt {
  font-family: TheCapt;
  font-size: 24px;
  width: 230px;
  height: 32px;
  background-color: #292929;
  color: #fff;
  border: none;
}
.name_lid_block {
  position: sticky;
  top: 0;
  height: 32px;
  padding: 15px 0 12px 0;
  margin-bottom: 10px;
  text-align: center;
  background-color: #292929;
  border-bottom: 3px solid #30bced;
  z-index: 999;
}
.name_lid_block button {
  width: 150px;
}
.respon_list {
  width: 200px;
  height: 25px;
  text-align: right;
  font-weight: bold;
  color: #fff;
}
.dop_info {
  width: 380px;
  height: 70px;
  max-width: 380px;
  max-height: 140px;
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
  border: none;
  background-color: #e2e2e2;
  color: #000;
}
.lid_info_company_block {
  padding: 15px 15px 8px 15px;
  background-color: #e2e2e2;
  margin-bottom: 20px;
}
.lid_info_company_block input[type=text],
.lid_info_company_block input[type=number] {
  text-align: right;
  width: 200px;
  padding-left: 0;
}
.lid_info_company_block p {
  color: #000;
}
.info_string {
  display: flex;
  width: 370px;
  height: 20px;
  margin-bottom: 10px;
}
.info_string p {
  width: 100px;
}
.info_string__block {
  width: 200px;
}
.info_string__block p {
  width: 150px;
  height: 20px;
  padding: 0;
  margin-left: 125px;
  text-align: right;
}
#dob_numb_company_inpt {
  width: 60px;
  margin-right: 10px;
}
#numb_company_inpt {
  width: 130px;
}
.edit_block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 275px;
  height: 25px;
}
.add_btn {
  display: none;
  width: 20px;
  height: 20px;
  margin: 3px 10px 0 0;
  border: none;
  border-radius: 50%;
  opacity: 0.7;
  background-image: url("img/icon_save_dark.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.add_btn:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #1d1f25;
}
.del_btn {
  display: none;
  width: 20px;
  height: 20px;
  margin: 3px 0 0 5px;
  border: none;
  background-color: #e2e2e2;
  background-image: url("img/icon_del.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.del_btn:hover {
  cursor: pointer;
  background-image: url("img/icon_del_v2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.edit_info_text {
  height: 25px;
}
.lid_info__contact_conteiner {
  margin-bottom: 20px;
}
.header_contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  height: 53px;
}
.header_contacts p {
  padding-top: 8px;
}
.add_block {
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  height: 25px;
  margin-top: 5px;
  padding-bottom: 5px;
}
.add_block p {
  padding: 2px 0 0 0;
}
.add_block:hover {
  cursor: pointer;
  transition-duration: 0.5s;
}
.add_block:hover p {
  color: #bf2119;
  transition-duration: 0.5s;
}
.contact_item_block {
  width: 370px;
  height: 25px;
  padding: 10px 15px 10px 15px;
  margin-bottom: 10px;
  background-color: #e2e2e2;
  overflow: hidden;
  transition: 1s;
}
.contact_item_block button {
  background-color: #e2e2e2;
  color: #000;
}
.contact_item_block p,
.contact_item_block h4 {
  color: #000;
}
.contact_item__name {
  display: flex;
  justify-content: space-between;
  height: 25px;
  width: 370px;
}
.contact_info_inpt {
  width: 200px;
}
.nav_contact_name {
  display: flex;
  justify-content: space-between;
  width: 120px;
}
.nav_contact_name button {
  width: 80px;
  margin-left: 10px;
}
.more_info_contact:hover {
  color: #000;
  transition-duration: 1s;
}
#access_btn {
  height: 20px;
}
.lid_tags__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 10px 0 20px 0;
}
.list__tag_block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: content-box;
  border-radius: 5px;
  background-color: #e2e2e2;
  margin: 0 10px 10px 0;
  padding-top: 2px;
}
.list__tag_block input {
  width: 15px;
  height: 15px;
}
.list__tag_block p {
  color: #000;
  padding: 0 5px 0px 5px;
  font-size: 12px;
}
.list__tag_block .del_btn {
  margin: 0 5px 0 0;
}
.lid_new_tags_conteiner {
  display: none;
  right: 455px;
}
.add_new_tag_block {
  width: 150px;
  height: 200px;
}
.add_new_tag_block input {
  height: 20px;
  width: 140px;
}
.add_new_tag_block button {
  height: 25px;
  width: 150px;
  font-size: 12px;
}
.journal_tags_block {
  width: 250px;
  height: 165px;
  background-color: #e2e2e2;
  overflow-y: scroll;
}
.journal_item_block {
  display: flex;
  border-bottom: 2px solid #0070b2;
  background-color: #e2e2e2;
}
.journal_item_block:hover {
  cursor: pointer;
}
.journal_item_block input {
  width: 16px;
  height: 16px;
  margin: 5px 0 0 5px;
}
.journal_item_block input:hover {
  cursor: pointer;
}
.journal_item_block p {
  padding: 3px 0 0 10px;
  width: 230px;
  height: 25px;
  color: #000;
}
.journal_item_block p:hover {
  color: #bf2119;
  transition-duration: 0.5s;
}
#add_in_journal_tag {
  transition-duration: 0.5s;
}
#add_in_journal_tag:hover {
  border: 1px solid #faa916;
}
/*--------------------------------


        окно со списком доступа    


----------------------------------*/
.access_users_conteiner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.access_user__background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
}
.access_user__background:hover {
  cursor: pointer;
}
.users_window_conteiner {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 50%;
  top: 50%;
  height: 600px;
  box-sizing: content-box;
  margin-left: -350px;
  margin-top: -300px;
  background-color: #292929;
  box-shadow: 0 0 20px 5px #292929;
}
.list_all_users_conteiner {
  box-sizing: content-box;
  margin: 20px;
  overflow: hidden;
}
.access_users__executor_block {
  box-sizing: content-box;
  margin: 20px;
  overflow: hidden;
}
.access__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 348px;
  height: 35px;
}
.access__title h4 {
  margin: 8px 0 0 15px;
}
.access__title input {
  display: block;
  margin-top: 8px;
}
.access_title__nav {
  display: flex;
  justify-content: space-between;
  width: 170px;
}
#add_user_executor {
  width: 80px;
  margin-top: 5px;
}
#del_user_executor {
  width: 80px;
  margin-top: 5px;
}
.access__list {
  width: 350px;
  max-height: 515px;
  margin-top: 10px;
  overflow-y: scroll;
}
.all_users_list {
  overflow-y: scroll;
}
.user_item_block {
  display: flex;
  flex-direction: row;
  width: 325px;
  height: 60px;
  margin: 5px 0 0 0;
}
.selector_indicator {
  width: 20px;
  height: 60px;
  background-color: #bf2119;
}
.selector_indicator:hover {
  cursor: pointer;
}
.user_selector:checked + .selector_indicator {
  background-color: #690;
}
.user_selector {
  display: none;
}
.user_item_photo {
  width: 60px;
  height: 60px;
}
.user_info_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 240px;
  height: 58px;
  padding: 0px 0 0px 15px;
  background-color: #3b3b3b;
  color: #fff;
  border: 1px solid #e2e2e2;
  border-left: none;
}
.user_info_name {
  font-weight: bold;
}
.user_info_name:hover {
  color: #bf2119;
}
