@font-face {
  font-family: TheCapt;
  src: url("fonts/TheCapt.otf");
}
@font-face {
  font-family: ProductSans;
  src: url("fonts/ProductSans.otf");
}
body,
html {
  margin: 0;
  padding: 0;
  background-color: #e2e2e2;
}
a {
  text-decoration: none;
  color: #fff;
}
a:visited {
  color: #fff;
}
h1 {
  font-family: TheCapt;
  font-weight: inherit;
  color: #fff;
  margin: 0;
  padding: 5px 10px 15px 10px;
  height: 33px;
}
h2 {
  font-family: TheCapt;
  font-weight: inherit;
  color: #fff;
  margin: 0;
  padding: 5px 10px 15px 10px;
}
h4 {
  font-family: ProductSans;
  font-size: 18px;
  color: #fff;
  margin: 0;
  padding: 0 10px 0 0px;
}
.btn {
  border: none;
  background-color: #faa916;
  color: #000;
  height: 25px;
}
.btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: #292929;
  border: 1px solid #faa916;
  transition-duration: 0.5;
}
.btn:active {
  background-color: #292929;
}
/*--------------------------------


    контейнер заголовка   


----------------------------------*/
.main_conteiner {
  width: 100%;
  height: 100%;
}
.journal_block {
  position: relative;
  top: 5vh;
  left: 10%;
  width: 80%;
  height: 90vh;
  padding: 15px;
  background-color: #292929;
}
.journal_type_btn_conteiner {
  display: flex;
  position: relative;
  left: 50%;
  width: 500px;
  height: 35px;
  margin-left: -250px;
  margin-bottom: 16px;
  text-align: center;
}
.journal_type_btn_conteiner .btn {
  width: 150px;
  height: 30px;
  margin-right: 10px;
  padding-top: 5px;
}
.journal_type_btn_conteiner .btn:hover {
  width: 148px;
  height: 28px;
}
#btn_selected {
  background-color: #292929;
  border-bottom: 2px solid #faa916;
  color: #fff;
}
.table_conteiner {
  width: 100%;
  margin-top: 16px;
}
.ag-theme-balham {
  height: 80vh;
}
.filter_table {
  width: 200px;
  height: 32px;
  padding-left: 12px;
  border: none;
  outline: none;
}
